.vantagens-bg {
  background-color: var(--c12);
  --padding: 12rem;
}

.vantagens {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.vantagens h2 {
  margin-bottom: 6rem;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 4rem 8rem;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 0.8rem;
}

@media (max-width: 800px) {
  .vantagens-bg {
    --padding: 6rem;
  }

  .vantagens h2 {
    margin-bottom: 4rem;
  }

  .vantagens ul {
    gap: 2rem;
  }
}