.header-bg {
  background-color: var(--bg-black);
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 4rem;

  font-weight: 500;  
}

.header-menu a {
  font-size: 1.8rem;
  color: #FFFFFF;
}