* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 1.6rem 0;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 5px;
}